<acl>
    <page-services-kea-ddns>
        <name>Services: Kea DDNS</name>
        <patterns>
            <pattern>ui/keaddns/*</pattern>
            <pattern>api/keaddns/*</pattern>
            <pattern>ui/diagnostics/log/core/kea_ddns</pattern>
        </patterns>
    </page-services-kea-ddns>
</acl>
